@charset "utf-8"
/*CSS Document*/
body {


}
h2,h3,h4{
	font-family: font-family: Gotham, "Helvetica Neue"; Helvetica, Arial, "sans-serif";
	color: darkolivegreen;

}
body{
	background-image: url("slike/pozadina2.jpg");
}
p{
	color: darkolivegreen;
	font-family: Gotham, "Helvetica Neue"; Helvetica, Arial, "sans-serif";
}



















{}

