@charset "utf-8"
/*CSS Document*/
p{}

 body {
	background-image: url("slike/pozadina.jpg");
}
h1{
	font-family:"MaraMuzic";

}
h2{
	font-family: Gotham, "Helvetica Neue"; Helvetica, Arial, "sans-serif";
	color: darkolivegreen;
}
p{
	color: darkolivegreen;
	font-family: Gotham, "Helvetica Neue"; Helvetica, Arial, "sans-serif";




}